<div class="container">
    <h1>Etat des boitiers</h1>
</div>
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">ID boitier</th>
            <th scope="col">Matricule</th>
            <th scope="col">Etat</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Validité</th>
            <th scope="col">Vitesse</th>
            <th scope="col">Ignition</th>
            <th scope="col">GPS</th>
            <th scope="col">GSM</th>
            <th scope="col">Date GPS</th>
            <th scope="col">Date serveur</th>
            <th scope="col">Id trajet</th>
            <th scope="col">Date option</th>
            <th scope="col">Ignition</th>
            <th scope="col">HLR</th>
            <th scope="col">IMEI</th>
            <th scope="col">Version</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>
