<div class="card my-5">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Ajouter un utilisateur</button>
</div>
<div class="card my-5">
    <h1 style="margin: auto;">Liste des utilisateurs</h1>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>
              <span *ngFor="let role of user.roles">{{role.name}} / </span>
            </td>
            <td>
              <button type="button" class="btn btn-outline-secondary" (click)="updateUser(user.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Editer</button>
            </td>
            <td><button type="button" class="btn btn-outline-danger" (click)="deleteUser(user.id)">Supprimer</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
