<div class="card my-5">
  <a class="btn btn-primary" href="/add" role="button">Ajouter un utilisateur</a>
</div>
<div class="card my-5">
    <h1 style="margin: auto;">Liste des utilisateurs</h1>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>
              <span *ngFor="let role of user.roles">{{role.name}} / </span>
            </td>
            <td><a class="btn btn-outline-secondary" href="#" role="button">Editer</a></td>
            <td><a class="btn btn-outline-danger" href="#" role="button">Supprimer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>